.collapse{
   padding: 0px 150px;
}



form{
    max-width: 400px;
    padding: 50px; 
    margin: 0px auto;
    margin-bottom: 50px;

}

.header-1{
    padding: 20px 0px;
    margin-top: 100px;
}

.container{
   margin-top: 150px;
}


footer{
    margin-top: 254px;
}
